.container {
    --primary: #1fa5fd;
    --secondary: #a64d4d;
    --light: #dad1d1;
    --dark: #091E3E;
}

.error_msg {
    font-size: 15px;
    margin-bottom: 5px;
    color: #f74040;
    visibility: visible;
    display: block;
}

.formDiv {
    position: relative;
    width: 30%;
    height: auto;
    text-align: center;
    transform : translate(100%);
}

.form-control {
    display: inline-block;
    text-align: center;
    width: 80%;
    height: 2em;
    font-size: 15px;
    border: 0;
    border-radius: 1em;
    outline: none;
    background-color: rgb(233, 233, 233);
}

.btn_writeCancel {
    display: flex;
    justify-content: center;
}

#btnSave {
    width: 7em;
    height: 50px;
    margin: 5px;
    background-color: #1fa5fd;
    border-radius:6px;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}

#btnSave:hover {
    background-color: #0b5ed7;
}

#btnSave:active {
    position:relative;
    top:1px;
}

#btnCancel{
    width: 7em;
    height: 50px;
    margin: 5px;
    background-color:#9fa3b1;
    border-radius:6px;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}

.menuList {
    margin: 3em 0 3em 0;
    margin-bottom: 3em;
    justify-content: left;
}

.form-line{
    margin: 1em 0 1em 0;
}

.juso{
    width: auto;
    height: 40px;
    background-color: #1fa5fd;
    border-radius:6px;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}

.juso:hover {
    background-color: #0b5ed7;
}

.menu {
    width: 12em;
    height: 60px;
    margin: 5px;
    background-color: #1fa5fd;
    border-radius:6px;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}

.menu:hover {
    background-color: #0b5ed7;
}

/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


.form-group{
    display: block;
}

.form-group .input{
    margin-bottom: 3em;
}

.form-col{
    margin-bottom: 1em;
}

.form-button{
    margin: 1em 0 2em 0;
}
